*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 65.3%;
}

body{
    overflow-x: 11   11              hidden;
    position: relative;
}

header{
    background:  var(--black-color);
    padding: var(--small-sz) 5rem;
    position: fixed;
    width: 100%;
    z-index: 9999;
    justify-content: center;
}

.logo-container{
    width: 10%;
}

.logo{
    width: 80%;
}

header .nav-link{
    color: var(--white-color);
} 

.newsletter-button{
    color: var(--text-white);
}

.menu-desktop{
    width: 60%;
}

header .menu-desktop ul{
    gap: var(--mid-sz);
}

.newsletter-button:hover{
    background: var(--button-hover);
}

main{
    background-color: var(--dark-color);
}

/* Dropdown Menu Mobile */
.dropdown-menu {
    display: none;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    background: #00000098;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    width: 100rem;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu li a {
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: #ffff;
}

.dropdown-menu li a:hover {
    background: var(--back-color);
    animation: changeColor 6s linear infinite;
    transition: all .1s ease-in-out;
}

/* Hero Section */
.hero{
    background: linear-gradient( #0b0b0bcc, #06060600), url('../img/primary.png');
    background-size: cover;
    background-position: center;
    /* backdrop-filter: blur(20px); => verifica essa propriedade, não está a funcionar*/
    height: 100vh;
    padding: 0 10rem;
    color: white;
}

.hero-text{
    width: 50%;
    height: 100%;
}

.hero-text a{
    margin-top: 2rem;
}

.hero-text .text h1{
    font-size: 3em;
    line-height: 1.3em;
    font-weight: 600;
}

.modal-container{
    text-align: center;
    background-color: #0606066c;
    padding: 2rem 0;
    border-radius: var(--button-radius);
    width: 50rem;
}
.modal-container img{
    object-fit: cover;
    width: 40rem;
}
.modal-container p{
    font-size: var(--small-sz);
}


/* PRODCAST CARDS */
.Card-Area{
    padding: 2rem 0;
    overflow: hidden;
    margin: 4rem 0;
    gap: 2rem;
}

.Podcast-Card{
    height: 30rem;
    border-radius: 1rem;
    /* border: solid 1px var(--light-color); */
    overflow: hidden;
}

.podcast-img{
    border-radius: 1rem;
    width: 100%;
}

/* .podcast-btn{
    background-color: rebeccapurple;
} */

.podcast-btn a{
    width: 30%;
}

#btn-podcast-on, #btn-home-on {
    color: var(--primary-color);
}

/* SOBRE NÓS */

.sobrenos{
    position: relative;
    height: 70rem;
}

.Podcast-info{
    height: 60%;
    background-image: linear-gradient( #0b0b0bcc, #0606068b), url('../img/micro.jpg');
    background-size: cover;
    background-position: center;
    padding: 5rem;
    gap: var(--mid-sz);
}

.text-sobrenos{
    color: #fff;
    font-weight: var(--normal-font);
    font-size: var(--mid-sz);
    width: 40%;
}

.social-links{
    gap: var(--mid-sz);
}

.icon{
    width: var(--mid-sz);
    height: var(--mid-sz);
}

.host-card:nth-child(1){
    background-image: linear-gradient(180deg, #ffffff00 71%, #001012b0 99%), url('../img/nuno_baio.JPG');
}

.host-card:nth-child(2){
    background-image: linear-gradient(180deg, #ffffff00 71%, #001012b0 99%), url('../img/vaneza_von-haffe.JPG');
}

.Podcast-hosts{
    top: 55rem;
    width: 80%;
    position: absolute;
    bottom: 5rem;
}

/* NEWSLETTER */
.newsletter-area{
    margin: 6rem 0 0 0;
}
.newsletter-card-area{
    padding: 2rem 0;
    gap: 3rem;
    width: 100%;
}
.newsletter-card:nth-child(1){
    background-image: linear-gradient(180deg, #ffffff00 71%, #001012b0 99%), url('../img/primary.png');
}
.newsletter-card:nth-child(2){
    background-image: linear-gradient(180deg, #ffffff00 71%, #001012b0 99%), url('../img/micro.jpg');
}
.assunto{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--black-color);
    background: var(--cian-color);
    padding: var(--button-p);
    border-radius: var(--button-radius);
    font-weight: var(--normal-font);
}
/*Contactos*/
.contacts-area{
    margin: 3rem 0 0 0;
}
.contacts-links{
    gap: 1rem;
}
.contact-logo{
    width: 25%;
}

/* Footer */

footer{
    background: var(--black-color);
    color: var(--white-color);
    /* gap: 2rem; */
    font-size: 1.5rem;
}
footer p{
    font-size: var(--small-sz);
}
footer a{
    color: var(--white-color);
}
footer ul{
    gap:0.5rem;
}
.newsletter-sub-form input{
    padding: 1rem 2rem;
    border-radius: var(--button-radius);
}
.newsletter-sub-form button{
    color: #fff;
    font-size: 1.4rem;
    border: none;
    border-radius: var(--button-radius);
    padding: 1rem;
    background: var(--primary-color);
}

footer .copy{
    padding: var(--small-sz);
}

/*Página sobre nós*/

.info-container, .contact-container{
    height: auto;
    color: var(--text-white);
}
.aboutustext p, .contact-container p{
    color: var(--white-color);
    font-size: var(--small-sz);
    width: 90%;
    line-height: 2.3rem;
}
.aboutustext h1{
    margin: 2rem;
    color: var(--white-color);
}
.hosts-card-area{
    margin: 2rem 0;
    gap: 2rem;
}
.hosts-card-area .host-card{
    position: relative;
}
.host-social-links{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    gap: 1rem;
}
.host-social-links img{
    width: 2rem;
}

/*Página Newsletter*/

.newsletter-hero{
    padding: 5rem;
    padding-top: 12rem;
    padding-bottom: 0;
    gap: 2rem;
}
.pesquisa-filtros-container{
    font-size: var(--small-sz);
    color: #929292;
}
.search-form{
    border-bottom: 0.2rem solid var(--primary-color);
    flex-direction: flex-end;
}
.search-form input[type="text"]{
    padding: var(--button-p);
    background: none;
    border: none;
    color: var(--white-color);
    outline: none;
    font-size: var(--small-sz);
}

.search-form button{
    background: none;
    border: none;
}
.search-form button img{
    width: 2rem;
}
.filters{
    gap: 2rem;
    font-weight: 600;
}
.filters a{
    color: #929292;
}
.filters .ative{
    color: var(--primary-color);
}
.newsletter-container{
    gap: 3rem;
    color: var(--white-color);
}
.newsletter{
    width: 70%;
    gap: 3rem;
}

.capa{
    height: 35rem;
    overflow: hidden;
    border-radius: var(--button-p);
    position: relative;
    color: #fff;
}
.newsletter-background{
    filter: brightness(0.7) contrast(0.9) saturate(0.9);
    object-fit: cover;
    object-position: center;
    width: 100%;
    position: absolute;
}
.capa .data{
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.capa .assunto, .capa .titulo, .capa .data, .newsletter-recomendation-card .description{
    z-index: 1000;
}
.newsletter-content p{
    font-size: var(--small-sz);
    line-height: 2.5rem;
}
.newsletter-content h2{
    margin: 2rem;
    font-size: var(--small-sz);
}
.newsletter-recomendation{
    width: 30%;
}
.recomendation-card-area{
    gap: 2rem;
}
.newsletter-recomendation-card .description h1{
    font-size: var(--small-sz);
}
.newsletter-recomendation-card .description h2{
    font-size: var(--vsmall-sz);
}


/*Página de podcasts*/

.order-views-container{
    padding: 2rem 0;
}
.order{
    padding: 1rem 2rem;
    background-color: var(--black-color);
    border: none;
    border-bottom: var(--primary-color) 0.2rem solid;
    color: var(--white-color);
    outline: none;
}
.views{
    font-size: var(--mid-sz);
    color: var(--white-color);
    gap: 2rem;
}
.views .ative{
    color: var(--primary-color);
}
.views a{
    cursor: pointer;
}
.views a:hover{
    color: var(--primary-color);
    transition: 0.6s;
}
.view-item h1{ 
    font-size: 1.5rem;
}
.grid-view .view-item h2{ 
    font-size: 1rem;
}
.view-item p{
    font-weight: 400;
    font-size: var(--small-sz);
    width: 80rem;
    line-height: 2.6rem;
}
.grid-view .view-item p,.grid-view  .canallink{
    display: none;
}
.canallink{
    color: var(--primary-color);
    font-weight: 600;
    font-size: var(--small-sz);
}
.view-content{
    gap: 1rem;
}
.play-icon{
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
}
.play-icon img{
    width: 4rem;
}
.mais-recente, .popularidade, .mais-antigo{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

/* AMBIENTE DO ADMINISTRADOR */

.menu-lateral{
    position: initial;
    width: 20rem;
    height: 100vh;
    background: var(--black-color);
    padding: 2rem;
}
.menu-lateral .logo-container{

    margin-bottom: 2rem;
}
.menu-lateral nav{
    gap: 2rem;
    width: 100%;
}
.menu-lateral nav a{
    font-size: var(--small-sz);
    color: var(--white-color);
    font-weight: 600;
    padding: var(--button-p);
    border-radius: var(--button-radius);
}
.menu-lateral nav .ative{
    background: var(--primary-color);
}
.menu-lateral nav a:hover{
    background: #8a0032;
    transition: 0.;
}
.main-adm{
    color: var(--white-color);
}
.main-adm .header-section{
    padding: 2rem;
}
.user-info {
    gap: 1rem;
    cursor: pointer;
}
.user-info ion-icon{
    font-size: 3rem;
}
.stats-card-area{
    gap: 2rem;
    padding-bottom: 2rem;
}
.user-modal{
    position: absolute;
    gap: 1rem;
    right: 2rem;
    padding: 2rem;
    background-color: var(--transparent-black);
    border-radius: var(--button-radius);
}
.user-modal a{
    color: var(--white-color);
    font-size: var(--vsmall-sz);
}
.off {
    display:none;
}
.action-card-area{
    border-top: var(--light-color) 1px solid;
}
.action-area{
    width: 70%;
    gap: 3rem;
}
.action-card-area .artigos{
    width: 30%;
    border-left: var(--light-color) 1px solid;
    height: 100%;
}
.artigo-card{
    width: 100%;
}
.artigo-card img{
    width: 100%;
}
.action-card{
    display: flex;
    gap: 1rem;
    font-size: var(--mid-sz);
    padding: 2rem 3rem;
    background: var(--transparent-black);
    cursor: pointer;
    border-radius: var(--button-radius);
}
.action-card:hover{
    background-color: var(--primary-color);
    transition: 0.3s;
}
.editor-section{
    position: relative;   
}
.editor-section form{
    padding-top: 3rem;
    gap: 2rem;
}
.editor-section form .innerform{
    gap: 1rem;
}
.add_image{

}
.add_image img{
    width: 50rem;
    height: 30rem;
    object-fit: cover;
    object-position: center;
    border-radius: 2px solid var(--primary-color);
}
.back{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    cursor: pointer;
}
.input-titulo{
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-bottom: var(--primary-color) 0.2rem solid;
    background: var(--black-color);
    color: var(--white-color);
}
.editor-section textarea{
    max-height: 46.9rem;
}