/* Desktop */
@media screen and (min-width: 601px) {
    .hide-desktop {
        display: none;
        overflow: hidden;
    }
}
/* Laptop */
@media screen and (max-width: 1215px) {
        /* About */
        .sobrenos{
            position: relative;
            height: 70rem;
        }
    
        .text-sobrenos {
            color: var(--white-color);
            font-weight: var(--normal-font);
            font-size: 1.5rem;
            width: 60%;
        }
    
        .Podcast-hosts{
            top: 35rem;
            width: 100%;
            position: absolute;
            bottom: 5rem;
        }
}




/* Tablet */
@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
        overflow: hidden;
    }

    .hide-desktop {
        display: flex;
        /* overflow: hidden; */
    }

    header {
        background: var(--black-color);
        padding: var(--small-sz) 2rem;
    }

    .content {
        padding: 3rem
    }

    .logo-container {
        width: 20%;
    }

    .icon {
        width: 3rem;
    }

    .icon-menu {
        width: 3.5rem;
    }   

    /* Hero */
    .hero {
        background-position: center;
        height: 100vh;
        padding: 0 3rem;
        color: white;
    }

    .hero-text {
        width: 80%;
        height: 100%;
    }

    .hero-text .text h1 {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 600;
    }

    /* About */
    .sobrenos{
        position: relative;
        height: 70rem;
    }

    .text-sobrenos {
        color: var(--white-color);
        font-weight: var(--normal-font);
        font-size: 1.5rem;
        width: 80%;
    }

    .Podcast-hosts{
        top: 40rem;
        width: 100%;
        position: absolute;
        bottom: 5rem;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
        overflow: hidden;
    }

    header {
        background: var(--black-color);
        padding: var(--small-sz) 2rem;
    }

    .content {
        padding: 3rem
    }

    .logo-container {
        width: 30%;
    }

    .icon {
        width: 3rem;
    }

    .icon-menu {
        width: 3.5rem;
    }

    /* Hero */

    .hero{
        display: flex;
        flex-direction: column;
        background-position: center;
        height: 100vh;
        padding: 2rem 0;
        color: white;
        justify-content: center;
        align-items: center;

    }

    .hero-text {
        width: 80%;
        height: 100%;
    }
  
    .hero-text .text h1{
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 600;
    }
    .modal-container{
        width: 80%;
        height: 40rem;
    }
    .modal-container img{
        width: 80%;
    }
    
    /*Podcast cards*/
    .Card-Area{
      overflow-x: auto;
      margin: 2rem 0;
    }
    .podcast-img{
        width: 30rem;
    }
    .Card-Area::-webkit-scrollbar{
        height: 2px;
    }

    /* SOBRE NOS */
    .sobrenos{
        height: 140vh;
    }
    .text-sobrenos{
        font-size: var(--small-sz);
        width: 90%;
    }
    .social-links img{
        width: 2.5rem;
    }
    .social-links h1{
        display: none;
    }
    .Podcast-hosts{
        flex-direction: column;
    }
    .Podcast-hosts{
        margin-top: 2rem;
        gap: 2rem;
        position: initial;
        height: 110rem;
    }
    .host-card{
        background-position: initial;
    }
    .sm-Card{
        height: 30rem;
    }
    .newsletter-card-area{
        flex-direction: column;
    }
    .newsletter-card{
        width: 100%;
        height: 25rem;
    }
    .newsletter-card h1{
        font-size: var(--small-sz);
    }

    .footer-container{
        font-size: var(--small-sz);
        flex-direction: column;
        justify-content: left;
        align-items: initial;
        gap: 2rem;
    }
    /*Página Sobre Nós*/

    .info-container{
        flex-direction: column;
    } 
}