.title{
    border-left: 5px solid var(--primary-color);
    color: var(--white-color);
    padding: 0 var(--small-sz);
    width: 100%;
}

/* Small Card */
.sm-Card{
    display: flex;
    flex-direction: column-reverse;
    color: var(--white-color);
    width: 30rem;
    height: 40rem;
    padding: var(--small-sz);
    border-radius: 1rem;
    border: solid 0.5px var(--white-color);
    background-size: cover;
    background-position: center;
}

.social-link-card{
    min-width: 10rem;
    border: solid 1px var(--white-color);
    border-radius: var(--button-radius);
    color: var(--white-color);
    display: flex;
    flex-direction: row;
}

.newsletter-button{
    background: var(--primary-color);
    padding: var(--button-p);
    border-radius: var(--button-radius);
    font-size: var(--small-sz);
    font-weight: var(--normal-font);
    transition: all .1s ease-in-out;
    color: var(--white-color);
}

.newsletter-card{
    position: relative;
    width: 50%;
    height: 40rem;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    display: flex;
    align-items: end;
    color: var(--white-color);
    padding: var(--small-sz);
}
.newsletter-recomendation-card {
    width: 100%;
    height: 25rem;
    overflow: hidden;
    border-radius: var(--button-p);
    position: relative;
    padding: var(--small-sz);
}
.view-item{
    padding: 2rem;
    background: var(--transparent-black);
    display: flex;
    color: var(--white-color);
    position: relative;
}
.list-view .view-item{
    gap: 4rem;
    width: 100%;
    height: 25rem;
    border-radius: 3rem;
    margin-bottom: 2rem;
}
.grid-view .view-item{
    gap: 2rem;
    height: 36rem;
    width: 44rem;
    flex-direction: column;
    border-radius: 2rem;
}
.modeswitcher{
    position: fixed;
    top: 10rem;
    right: 3rem;
    color: var(--white-color);
    font-size: 3rem;
    background-color: var(--black-color);
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}