*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 60.3%;
}

header{
    background:  var(--dark-color);
    padding: var(--small-sz) 5rem;
}

.logo-container{
    width: 10%;
}

.logo{
    width: 80%;
}

header .nav-link, .newsletter-button{
    color: var(--white-color);
}

.menu-desktop{
    width: 60%;
}

header .menu-desktop ul{
    gap: var(--mid-sz);
}

.newsletter-button{
    background: var(--primary-color);
    padding: var(--button-p);
    border-radius: var(--button-radius);
}

main{
    background-color: var(--dark-color);
}

/* Hero Section */
.hero{
    background: url(/assets/img/primary.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0 5rem;
    color: white;
}

.hero-text{
    font-size: var(--mid-sz);
    line-height: 5.48rem;
    font-weight: 600;
    width: 40%;
}

.qr-container{
    border-radius: var(--button-radius);
    height: 35rem;
    width: 35rem;
}


/* PRODCAST CARDS */
.Card-Area{
    width: 100%;
    margin: var(--mid-sz) 0;
}

.Podcast-Card:nth-child(1){
    background-image: url('/assets/img/PodCastSection/p1.png');
}

.Podcast-Card:nth-child(2){
    background-image: url('/assets/img/PodCastSection/p2.png');
}

.Podcast-Card:nth-child(3){
    background-image: url('/assets/img/PodCastSection/p3.png');
}

.Podcast-Card:nth-child(4){
    background-image: url('/assets/img/PodCastSection/p4.png');
}

/* SOBRE NÓS */

.sobrenos{
    position: relative;
    height: 110vh;
}

.Podcast-info{
    height: 60%;
    background-image: linear-gradient( #0b0b0bcc, #0606068b), url(/assets/img/micro.jpg);
    background-size: cover;
    background-position: center;
    padding: 5rem;
    gap: var(--mid-sz);
}

.text-sobrenos{
    color: var(--white-color);
    font-weight: var(--normal-font);
    font-size: var(--mid-sz);
    width: 40%;
}

.social-links{
    gap: var(--mid-sz);
}
.icon{
    width: var(--mid-sz);
}

.host-card:nth-child(1){
    background-image: linear-gradient(180deg, #ffffff00 71%, #001012b0 99%), url(/assets/img/nuno_baio.JPG);
}

.host-card:nth-child(2){
    background-image: linear-gradient(180deg, #ffffff00 71%, #001012b0 99%), url(/assets/img/vaneza_von-haffe.JPG);
}
.Podcast-hosts{
    height: 30%;
    width: 70%;
    position: absolute;
    bottom: 5rem;
}

/* NEWSLETTER */
.newsletter{
    margin: 6rem 0 0 0;
}
.newsletter-card-area{
    padding: 2rem 0;
    gap: 3rem;
}
.newsletter-card:nth-child(1){
    background-image: linear-gradient(180deg, #ffffff00 71%, #001012b0 99%), url(/assets/img/primary.png);
}
.newsletter-card:nth-child(2){
    background-image: linear-gradient(180deg, #ffffff00 71%, #001012b0 99%), url(/assets/img/micro.jpg);
}
.assunto{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--black-color);
    background: var(--cian-color);
    padding: var(--button-p);
    border-radius: var(--button-radius);
    font-weight: var(--normal-font);
}