*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 60.3%;
}

header{
    background:  var(--dark-color);
    padding: var(--small-sz) 5rem;
}

.logo-container{
    width: 10%;
}

.logo{
    width: 80%;
}

header .nav-link, header .newsletter-button{
    color: var(--white-color);
}

header .desktop-navegation{
    width: 60%;
}

header .menu-desktop ul{
    gap: var(--mid-sz);
}

.newsletter-button{
    background: var(--primary-color);
    padding: var(--button-p);
    border-radius: var(--button-radius);
}

main{
    background-color: var(--dark-color);
}

/* PRODCAST CARDS */
.Card-Area{
    width: 100%;
    margin: var(--mid-sz) 0;
}

.Podcast-Card:nth-child(1){
    background-image: url('/assets/img/PodCastSection/p1.png');
}